@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Faculty+Glyphic&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Major+Mono+Display&display=swap');
/*making the css document as desktop first by default*/
html {
    background: hsl(254 45% 11%);
    color: hsl(255 51.7% 94.5%);
    font-family: "K2D", sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
}

section {
    scroll-margin-top: 77px;
}

p {
    margin-top: 0;
    text-align: justify;
}

body {
    margin: 0px;
}

a {
    color: hsl(255 51.7% 94.5%);
}

li {
    list-style-type: none;
}

.content {
    padding: 10px 50px 10px;
    align-content: center;
    margin: 85px auto 0px;
    width: 65%;
    background: hsl(255 60% 57% / 0.364);
    border-radius: 20px;
}

#navbar {
    display: flex;
    position: fixed;
    top: 0px;
    color: hsl(255 51.7% 94.5%);
    font-weight: 100;
    font-size: 45px;
    background: hsl(249 40% 47% / 1);
    padding: 10px 20px 10px;
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 2px -2px hsl(0 0% 0% / 0.2);
}

.navlink {
    line-height: 50px;
    font-size: 33px;
    text-decoration: none;
    color: hsl(255 51.7% 94.5%);
    padding: 0px 20px 0px 20px;
}
.icon {
  color: white;
  display: none;
}


h1 {
    text-align: center;
    color: hsl(255 51.7% 94.5%);
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    padding: 0px 40px 0px 0px;
}



h2 {
    text-align: center;
    color: hsl(255 51.7% 94.5%);
    font-weight: 300;
    font-size: 33px;
    margin: 0px;
}

h3 {
    font-weight: 200;
    font-size: 25px;
    margin: 0px;
    text-align: center;
    padding-bottom: .5vw;

}

#About {
    padding: 10px;
    font-size: 19px;
    align-content: center;
}

.About-content {
    text-indent: 70px;
    width: 70%;
    margin: auto;
}


#Experience {

    font-size: 20px;
    align-content: center;
    margin: auto;
    width: 90%;
    padding: 10px 50px 10px;
}

#skills {
    margin: auto;
    width: 65%;
    padding: 10px 50px 0px;
    font-size: 20px;
    align-content: center;
}

#Projects {
    margin: auto;
    width: 65%;
    padding: 10px 50px 0px;
    font-size: 20px;
    align-content: center;
    border-radius: 0px 0px 20px 20px;
}



.experience-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 10px 50px 0px;
    margin: auto;
    width: 70%;
    justify-content: center;
}

.experience-block {
    background: hsla(249 40% 47% / .8);
    padding: 10px 40px 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    text-indent: 0px;
}

.skills-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: 50%;
    padding: 10px 50px 0px;
    margin: auto;
}

.skills-block {
    background: hsla(249, 40%, 47%, .8);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.Projects-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 90%;
    padding: 10px 50px 0px;
    margin: auto;
}

.Projects-block {
    background: hsla(249, 40%, 47%, .8);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

#Connect {
    padding: 20px 50px 0px;
    font-size: 20px;
    align-content: center;
}



.connect-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 50px 0px;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.connect-block {
    padding: 20px;
    margin: auto;

}

form[name="leave_message"]{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 25px 0px;
    margin: auto;
    
    
}
.form-Element{
    
    /*color: hsl(0 0% 100%);*/
    padding: 10px 10px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid hsla(249 40% 70% / .5);
    font-size: 20px;
    font-weight: 100;
    text-indent: 0px;
}


.copyright {
    color: hsl(0 0% 100% / .75);
    font-weight: 100;
    font-size: 20px;
    padding: 5px 10px;
    text-align: right;
}
.remove{
    background: hsl(343 100% 61%/ 0.8);
    color: hsl(0 0% 100% / .75);
    margin: 10px;
    border-radius: 10px;
}

/*foreground items*/
.blurred-item-1 {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(301, 100%, 38%, .5);
    width: 500px;
    height: 500px;
    filter: blur(250px);
}

.blurred-item-2 {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    background: hsla(239, 100%, 50%, .5);
    width: 500px;
    height: 500px;
    filter: blur(250px);
}

/*============================mobile adjustments======================================================*/

@media only screen and (max-width: 500px) {
    #navbar {
        font-size: 20px;
        padding: 0px 20px 10px;
    }

    h1 {
        font-weight: 400;
        font-size: 35px;
    }

    .navlink {
        display: none;
        /*plan to have a dropdown menu that changes the navlink class*/
    }

    .icon {
    display: block;
    color: white;
    padding: 0px;
    font-size: 2rem;
    position: fixed;
    right: 0px;
    top: -18px;
  }

    section {
        scroll-margin-top: 70px;
        max-width: 100%;
        padding: 0px;
        margin: auto;
    }

    .content {
        padding: 5px;
        width: 90%;
        margin: 0px auto 0px;
    }

    #About {
        max-width: 100%;
        padding: 10px;
    }

    .About-content {
        text-indent: 40px;
        width: 100%;
        padding: 0px auto 0px;
    }

    #Experience {
        padding: 10px;
    }

    .experience-container {
        padding: 0px;
        width: 100%;
        justify-content: center;
    }

    .experience-block {
        padding: 10px 20px 10px;
        margin: 10px;
        border-radius: 5px;
        text-align: justify;
        font-size: 20px;
        font-weight: 100;
        text-indent: 0px;
    }

    .skills-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        width: 50%;
        padding: 0px;
        margin: auto;
    }

    .skills-block {
        background: hsla(249, 40%, 47%, .8);
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
    }

    /*foreground adjustments in mobile*/
    .blurred-item-1 {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        background: hsla(301, 100%, 38%, .5);
        width: 250px;
        height: 250px;
        filter: blur(150px);
    }

    .blurred-item-2 {
        z-index: -1;
        position: fixed;
        bottom: 0;
        right: 0;
        background: hsla(239, 100%, 50%, .5);
        width: 250px;
        height: 250px;
        filter: blur(150px);
    }
}

/* ============================Tablet[portrait] adjustments==============================================*/
@media (max-width:900px) {

    h1 {
        text-align: center;
    }

    .navlink {
        display: none;
        /*plan to have a dropdown menu that changes the navlink class*/
    }
    .icon {
    display: block;
    color: white;
    padding: 0px;
    font-size: 2rem;
    position: fixed;
    right: 20px;
    top: 10px;
  }

    .content {
        padding: 5px;
        width: 90%;
        margin: 80px auto 0px;
    }

    section {
        scroll-margin-top: 70px;
        max-width: 100%;
        padding: 0px;
        margin: auto;
    }

    #Experience {
        padding: 10px;
    }

    .experience-container {
        padding: 0px;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .skills-container {
        justify-content: center;
        width: 50%;
        padding: 0px;
        margin: auto;
    }

    .About-content {
        text-indent: 40px;
        width: 100%;
        padding: 0px auto 0px;
        margin: auto;
    }
}